name: cd

on:
  push:
    branches: [main]

jobs: 
    deploy:
        name: Deploy
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: action/checkout@v4
            
            - name: Setup Go
              uses: actions/setup-go@v5
              with:
                go-version: "1.25.1"
            
            - name: Build production app
              run: bash scripts/buildprod.sh




